body {
    background-image: url("http://45.media.tumblr.com/bce4d0ba93fec64824a0c0ba176dcff0/tumblr_nzdykcoPsx1uy1uyro1_250.gif");
}
.Reasons img {
    float: right;
    border-radius: 50px;
}
.title img {
    height: 300px;
    width: 500px;
    border: 2px white solid;
    margin-top: -130px;
} 
.title h1 {
    margin-left:550px;
    font-size: 100px;
    font-family: fantasy;
    color: #999;
}
.navv {
    background-color: #A6685B;
    padding: 10px;
    opacity: .7;
    border-radius: 20px;
    margin: 10px;
}
p {
    color: white;
    border: 1px white solid;
    border-radius: 4px;
    background-color: #660000;
    opacity: .6;
    text-indent: 9px;
    width: 700px; 
    font-size: 17px;
    font-family: cursive;
    padding: 2px 2px 2px 2px;
}
#navigationMenu li{
	list-style:none;
	height:39px;
	padding:2px;
	width:40px;
}
/* taken from tutorialzine.com*/
#navigationMenu span{
	/* Container properties */
	width:0;
	left:38px;
	padding:0;
	position:absolute;
	overflow:hidden;

	/* Text properties */
	font-family:'Myriad Pro',Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:bold;
	letter-spacing:0.6px;
	white-space:nowrap;
	line-height:39px;

	/* CSS3 Transition: */
	-webkit-transition: 0.25s;
}

#navigationMenu a{
	/* The background sprite: */
	background: url("http://vignette2.wikia.nocookie.net/jackass/images/a/ad/Ban_red_skull.png/revision/latest?cb=20120919113435") cover;
	height:39px;
	width:38px;
	display:block;
	position:relative;
}

/* General hover styles */

#navigationMenu a:hover span{ 
    width:auto; 
    padding:0 20px;
    overflow:visible;
}
#navigationMenu a:hover{
	text-decoration:none;

	/* CSS outer glow with the box-shadow property */
	-moz-box-shadow:0 0 5px #9ddff5;
	-webkit-box-shadow:0 0 5px #9ddff5;
	box-shadow:0 0 5px #9ddff5;
}
/* Green Button */

#navigationMenu .home {
    background-position:0 0;
    background-image: url("http://vignette2.wikia.nocookie.net/jackass/images/a/ad/Ban_red_skull.png/revision/latest?cb=20120919113435");
}
#navigationMenu .home:hover {
    background-position:0 -39px;
}
#navigationMenu .home span{
	background-color:#7da315;
	color:#3d4f0c;
	text-shadow:1px 1px 0 #99bf31;
}

/* Blue Button */

#navigationMenu .about { 
    background-position:-38px 0;
}
#navigationMenu .about:hover { 
    background-position:-38px -39px;
}
#navigationMenu .about span{
	background-color:#1e8bb4;
	color:#223a44;
	text-shadow:1px 1px 0 #44a8d0;
}

/* Orange Button */

#navigationMenu .services {
    background-position:-76px 0;
}
#navigationMenu .services:hover { 
    background-position:-76px -39px;
}
#navigationMenu .services span{
	background-color:#c86c1f;
	color:#5a3517;
	text-shadow:1px 1px 0 #d28344;
}